




<section id="maincontainer">

 <header><h1>Header</h1></header>


<section id="contentwrapper">

<section id="contentcolumn" class="column"></section>
</section>
<section id="rightcolumn" class="column">
<div class="innertube"><b>Right Column</div>
</section>

<section id="leftcolumn" class="column">
Left Column
</section>


<footer>Footer</footer>

</section>